
.idea/vcs.xml
.idea/circe.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
/circe/__pycache__
db.sqlite3
/hops/__pycache__
db.sqlite3
/hops/migrations
circe/settings.py
db.sqlite3
db.sqlite3
db.sqlite3
db.sqlite3
db.sqlite3
*.sqlite3
circefront/package-lock.json
circefront/package.json
